.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.read-more__text--hide {
  max-height: 0;
  font-size: 0;
  opacity: 0;
 }

 /*Duration of film hiethlieght*/
 .duration{
    display: inline-block;
    position: relative;
    bottom: 11px;
    float: right;
    right: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
 }

 .pagination{
  position: fixed;
  top: 83%;
  left: 35%;
 }

 .carditem{
  background-color: #fff;
  margin-bottom: 1px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
 }

 .ui.active.centered.inline.loader.loaderimage {
  top: 50%;
  transform: translate(-50%, -50%);
}

 .globalContainer{
  width: 1212px !important;
  margin: 0 auto;
  position: relative;
  zoom: 1;
 }